*{margin: 0;padding:0}
body{
    background:darkcyan ;
}
.header{
    height: 70px;
    line-height: 70px;
    color: #ffffff;
    text-align: center;
}
.content{
    min-height:500px;
   
}
.content a{
    display: inline-block;
    padding: 15px 50px ;
    background: darkseagreen;
    color:#fff; 
    border-radius:30px ;
}
.content a:hover{
    background: darkred;
}
a{
    text-decoration: none;
}